<form method="get" action="%action%">
<table border="1" cellpadding="4" cellspacing="1" align="center" bgcolor="#d5d2bb"><tr><td>
<table align="center" border="0" cellpadding="2">
<tr>
	<td align="center">
		<label for="fdse_Match">Match</label>
		<select name="Match" id="fdse_Match"><option value="1">All</option><option value="0">Any</option></select>
		<label for="fdse_Realm"> term in Search Index:</label><select name="Realm" id="fdse_Realm">
		<option value="All">[ All ]</option>%realm_options%</select>
	</td>
</tr>
</table>
<table align="center" border="0" cellpadding="2">
<tr>
	<td valign="middle" align="right" style="font-weight:bold"><label for="fdse_Terms">Keywords:</label></td>
	<td valign="middle"><tt><input name="Terms" size="25" style="font-family:monospace" id="fdse_Terms" /></tt></td>
	<td valign="middle" align="left"><input type="submit" class="submit" value="Search" /></td>
</tr>
</table></td></tr></table>
</form>