


    </div>
    <div w3-include-html="../_/php/footer.php"></div>
  </div><!-- container -->

  <!-- javascript -->

  <!-- the next three lines are _/php/javascript.php. Must be updated when that file is updated.-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../_/js/bootstrap.min.js"></script>
  <script src="../_/js/mipops.js"></script>

  <script src="http://www.w3schools.com/lib/w3data.js"></script>
  <script>
  w3IncludeHTML();
  </script>
</body>
</html>
