/* type1: outside the boxes, like the footer */
/* type2: regular box with border */

/* COLORS */
body, #top_bar, .full-width {
  background-color: white;
}
#boxes_content .thumbnail, #similar_organizations, .container-fluid, #blog, .border {
  background-color: #D7D7D7; /* light gray */
}
body, footer, #boxes_content .thumbnail .caption{
  color: black;
}
h1, h2, h3, h4, .container {
  color: black;
}
a:link {
  color: #373737; /* dark gray */
}
a:visited {
  color: #4F4F4F; /* dark gray */
}
a:hover, a:hover h2 {
  color: white;
}
.type1 a:hover {
  color: #A0A0A0; /* light gray */
}
a:active {
  color: black;
}
.type1, .type1 a {
  color: black;
}
#blog_text {
  background-color: #BFBFBF; /* medium light gray */
}
#mission-in-about {
  background-color: #C5C5C5; /* medium light gray */
}
#blog_text h4 {
  color: black;
}
.small_box p, #blog_text p, #address p, .members p, .organizations p, .type2 { 
  color: black;
}
.grey {
  background-color: #D7D7D7; /* light gray */
}
#faqs_text p {
  color: #333333; /* dark gray */
}
#faqs_text i {
  color: black;
}
#hero-container h1, #hero-container p {
  color: white;
}
/* END COLORS */

/* when less than medium size */
@media (max-width: 991px) {
  .hidden-small {
    margin-bottom : 10px;
  }
  .hidden-small2 {
    margin-bottom : 20px;
  }
  .hidden-small3 {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .right-big {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

/* when medium size or greater */
@media (min-width: 992px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  #calpreservation {
    margin-top: 20px;
  }
  #uluulu {
    margin-top: 50px;
  }
  #danceheritage {
    margin-top: 40px;
  }
  #xfr-stn {
    margin-top: 40px;
  }
  #four_culture {
    display: inline-block;
    vertical-align: middle;
  }
  #similar_organizations_text {
    margin-top: 30px;
  }
  .org-image {
    height: 100px;
  } 
  .org-image2 {
    height: 150px;
  } 
  .float-right {
    padding-left: 10px;
  }
  .right-big {
    padding-left: 10px;
    float: right;
    padding-right: 20px; 
  }
}

/* when less than large size */
@media (max-width: 1199px) {
}
/* when large size or greater */
@media (min-width: 1200px) {
}

/* alignment */
body {
  padding-top: 70px; 
}
#blog_text {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#read_more {
  text-align: right;
}
.type2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.big_spacing {
  height:120px;
}
.spacing  {
  height:30px;
}
.small_spacing  {
  height:10px;
}
.margin-right {
  padding-right: 10px;
}
.small_box {
  padding-top: 8px;
}
#similar_organizations {
  text-align: center;
}
.center {
  text-align: center;
}
#top_logo, #top_name {
  margin-top: 40px;
}
.small-height {
  height: 100px;
}
.indent {
  padding-left: 20px;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.float-right {
  float: right;
  padding-right: 20px;
}
.float-left {
  float: left;
  padding-right: 20px;
}
.org-image, .org-image2 {
  padding-top: 10px;
  padding-bottom: 10px;  
}
#map_iframe {
  padding-top: 10px;
  padding-bottom: 10px;  
  padding-left: 10px;
  padding-right: 10px;
}
.inline {
  display: inline;
}
#mission-in-about {
  margin-right: 20px;
}
#facebook-icon {
  height: 23px;
}

/* font-size */
.type2, .members, .organizations, #address {
  font-size: 1.4em;
}
a {
  font-size: 1.4em;
}
.type1 a, .type2 a, #address a, .members a {
  font-size: 1em;
}
header {
  font-size: 1.1em;
}
#blog_section a {
  font-size: 1em;
}
#read_more a {
  font-size: 1.2em;
}

/* font-size and alignment */
footer {
  padding-top: 20px;
  font-size: 1em;
  text-align: center;
}
#top_name {
  font-size: 3em;
  text-align: center;
}

/* misc */
#hero {
  background-image: url(../../img/hero5.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 24em;
}
#hero-container {
}
#outside-hero-container {
  background-color: rgba(169,169,169,0.7);
}
.testimonial p {
  font-family: "Times New Roman", Times, serif;
}
.border .testimonial {
  border: 1px solid #ddd;
  border-radius: 4px; 
}
.carousel-indicators li {
  visibility: hidden;
}
.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Fix for IE with bootstrap */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


