/* type1: outside the boxes, like the footer */
/* type2: regular box with border */

/* COLORS */
body, #top_bar {
  background-color: white;
}
#boxes_content .thumbnail, #similar_organizations, .container-fluid, #blog, .border {
  background-color: #D7D7D7; /* light gray */
}
body, footer, #boxes_content .thumbnail .caption{
  color: black;
}
h1, h2, h3, h4, .container {
  color: black;
}
a:link {
  color: #373737; /* dark gray */
}
a:visited {
  color: #4F4F4F; /* dark gray */
}
a:hover, a:hover h2 {
  color: white;
}
.type1 a:hover {
  color: white;
}
a:active {
  color: black;
}
.type1, .type1 a {
  color: black;
}
#blog_text {
  background-color: #BFBFBF; /* medium light gray */
}
#mission-in-about {
  background-color: #C5C5C5; /* medium light gray */
}
#blog_text h4 {
  color: black;
}
.small_box p, #blog_text p, #address p, .members p, .organizations p, .type2 { 
  color: black;
}
.grey {
  background-color: #D7D7D7; /* light gray */
}
#faqs_text p {
  color: #333333; /* dark gray */
}
#faqs_text i {
  color: black;
}
#hero-container p, #hero-container p em {
  color: white;
}
#outside-hero-container {
  background-color: rgba(169,169,169,0.7);
}
.blue-link-inside a {
  color: #0645AD; /* blue */
}
/* END COLORS */

/* the order of the @media commands matter */
/* when greater than small size */
@media (min-width: 544px) {
}
/* when less than large size */
@media (max-width: 991px) {
  .hidden-small {
    margin-bottom : 10px;
  }
  .hidden-small2 {
    margin-bottom : 20px;
  }
  .hidden-small3 {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .right-big {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #four_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }  
}
/* when greater than medium size */
@media (min-width: 768px){
}

/* when large size or greater */
@media (min-width: 992px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  #calpreservation {
    margin-top: 20px;
  }
  #uluulu {
    margin-top: 50px;
  }
  #danceheritage {
    margin-top: 40px;
  }
  #xfr-stn {
    margin-top: 40px;
  }
  #four_culture {
    display: inline-block;
    vertical-align: middle;
  }
  #similar_organizations_text {
    margin-top: 30px;
  }
  .org-image {
    height: 100px;
  } 
  .org-image2 {
    height: 150px;
  } 
  .float-right {
    padding-left: 10px;
  }
  .right-big {
    padding-left: 10px;
    float: right;
    padding-right: 20px; 
  }
  #boxes_content {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  .boxes {
    flex-direction: column;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  } 
  #box1 {
    margin-right: 20px;
  }
  #box3 {
    margin-left: 20px;
  }
}

/* when less than extra-large size */
@media (max-width: 1199px) {
  .hidden-small4 {
     margin-bottom: 20px;
  }  
  #search {
    margin-bottom: 10px;
  }
  #video {
    height: 660px; 
  }
}
/* when extra-large size or bigger */
@media (min-width: 1200px) {
    #search {
      margin-top: 10px;
    }
    #video {
      height: 405px;
    }
}
/* additional when less than large size */
@media (max-width: 991px) {
  #video {
    height: 562.5px; 
  }
}
/* additional when less than small size */
@media (max-width: 650px){
  #video {
    height: 470px; 
  }
}
/* additional when less than small size */
@media (max-width: 500px){
  #video {
    height: 400px; 
  }
}
/* alignment */
body {
  padding-top: 70px; 
}

#video, #top_carousel, #carousel-main-page {
  padding: 0px;
}
#donate-boxes {
  margin-top: 10px;
}
#blog_text {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#read_more {
  text-align: right;
}
.type2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.big_spacing {
  height:120px;
}
.spacing  {
  height:30px;
}
.small_spacing  {
  height:10px;
}
.smaller_spacing {
  height: 7px;
}
.margin-right {
  padding-right: 10px;
}
.small_box {
  padding-top: 8px;
}
#similar_organizations {
  text-align: center;
}
.center {
  text-align: center;
}
#top_logo, #top_name {
  margin-top: 40px;
}
.small-height {
  height: 100px;
}
.indent {
  padding-left: 20px;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.float-right {
  float: right;
  padding-right: 20px;
}
.text-right {
  text-align: right;
}
.float-left {
  float: left;
  padding-right: 20px;
}
.org-image, .org-image2 {
  padding-top: 10px;
  padding-bottom: 10px;  
}
#map_iframe {
  padding-top: 10px;
  padding-bottom: 10px;  
  padding-left: 10px;
  padding-right: 10px;
}
.inline {
  display: inline;
}
#mission-in-about {
  margin-right: 20px;
}
.facebook-icon, .twitter-icon {
  height: 23px;
}
.padding {
  padding-left:20px;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:5px;
}
#outside-hero-container {
  padding-top: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* font-size */
.type2, .members, .organizations, #address {
  font-size: 1.4em;
}
a {
  font-size: 1.4em;
}
.type1 a, .type2 a, #address a, .members a {
  font-size: 1em;
}
header {
  font-size: 1em;
}
#blog_section a {
  font-size: 1em;
}
.normal-size {
  font-size: 1em;
}
#read_more a {
  font-size: 1.2em;
}
#hero-container p em{
  font-size: 1.5em;
}

/* font-size and alignment */
footer {
  padding-top: 20px;
  font-size: 1em;
  text-align: center;
}
#top_name {
  font-size: 3em;
  text-align: center;
}


/* misc */

#hero {
  background-image: url(http://www.mipops.org/img/hero5_lo_res.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 18em;
  padding-bottom: 6em;
}
.border {
  border: 1px solid #ddd;
  border-radius: 4px; 
}
.border-line {
  padding: 5px;
  border: 1px solid #D7D7D7;
  border-top: 0;
}
.carousel-indicators li {
  visibility: hidden;
}
.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Fix for IE with bootstrap */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


