body {
  padding-top: 0px;
}
body {
  background-color: rgba(169,169,169,1);
}
#outside-container {
  padding-top: 50px;
}
#logo-container {
  position:relative;
  padding-left:0px;
}
#mipops-logo {
  position: fixed;
  visibility: visible;
  height: 110px;
  z-index: 1100;
  opacity: 0.9;
  top: 13px;
  height: 80px;
}
/* fonts */
.times-roman {
  font-family: "Times New Roman", Times, serif;
}
.boxes h2 {
  font-family: "Tahoma", Geneva, sans-serif;
  text-align: center;
}
/* when less than medium size */
@media (max-width: 767px){
  #mipops-logo {
    height: 50px;
  }
}
/* when less than 200px */
@media (max-width: 200px) {
  #mipops-logo {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  #outside-test1, #outside-test3 {
    padding-left: 0px;
  }
  #outside-test4 {
    padding-right: 0px;
  }
}
