/* rs collab scheme */
body {
  background-color: #3B5998; /* regular blue */
  color: white;
  padding-top: 50px; 
}

#boxes_content .thumbnail, #top_bar, #video, #members_content, .container-fluid {
  background-color: #293E6A;
}

#blog {
  background-color: #223358;
}

footer {
  padding-top: 20px;
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
}

.row {
  padding-bottom: 20px;
}

.spacing {
  height:30px;
}

.container {
  color: white;
}

#members_content .col-md-2, #members_content .col-md-4 {
  margin-top: 30px; 
}

#boxes_content .thumbnail {
  height: 250px;  
}

#boxes_content .thumbnail .caption {
  color: white;
} 


#members_content {
  font-size: 3em;
  text-align: center;
}

#top_bar {
  font-size: 4.2em;
  text-align: center;
}

#top_logo, #top_name {
  margin-top: 40px;
}

#blog, #video, #members_content {
  border: 1px solid #ddd;
  border-radius: 4px; 
}

#blog, #video {
  height: 300px;
}

#video {
  padding-top: 20px;
}

#inside-blog h1, #inside-blog h4 {
  color: #77BA9B; /* greenish */ 
}

#inside-blog p {
  color: #B6A754; /*yellow*/
}
