body {
  background-color: brown;
  padding-top: 70px; 
}

footer {
  color: white;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  color: white;
}

#boxes_content .thumbnail {
  background-color: orange;
  min-height: 150px;
  height: 150px;  
}

#members_content {
  background-color: orange;
  color: black;
  font-size: 3em;
}

#top_bar {
  background-color: chocolate;
  font-size: 3em;
}

#blog {
  background-color: orange;
  color: black;
}

#video {
  background-color: orange;
}
