/* rs collab scheme */
body {
  background-color: #3B5998; /* regular blue */
  color: white;
  padding-top: 50px; 
}

#boxes_content .thumbnail, #top_bar, #video, #members_content, .container-fluid, #blog {
  background-color: #293E6A; /* darker blue */
}

footer {
  padding-top: 20px;
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
}
a:link {
  color: #B6A754; /*yellow*/
}
a:visited {
  color: #DCD087; /*lighter yellow*/
}
a:hover {
  color: #646114; /*darker yellow*/
}
a:active {
  color: #B6A754; /*yellow*/
}

.spacing {
  height:30px;
}

.container {
  color: white;
}
#members_content_text {
  margin-top: 30px;
}
#calpreservation {
  margin-top: 20px;
}
#uluulu {
  margin-top: 50px;
}
#danceheritage {
  margin-top: 60px;
}
#xfr-stn {
  margin-top: 40px;
}

#boxes_content .thumbnail .caption {
  color: white;
} 

#members_content {
  text-align: center;
  height: 200px;
}

#top_bar {
  font-size: 3em;
  text-align: center;
}

#top_logo, #top_name {
  margin-top: 40px;
}

#blog, #video, #members_content {
  border: 1px solid #ddd;
  border-radius: 4px; 
}


#video {
  padding-top: 20px;
}

h2, h4 {
  color: #77BA9B; /* greenish */ 
}

#inside-blog p {
  color: white; 
}
