/* green_orange theme */
body {
  background-color: #CC5120; /* orange */
  padding-top: 50px; 
}

a {
  color: #E2A048;
}

#boxes_content .thumbnail, #blog, #video, #members_content {
  background-color: #168C59; /* green */
}
/*edit follows*/
#top_container_fluid {
  background-color: #E27448; /*lighter orange */
  color: white;
}

#non_profit_text {
  color: white; 
  background-color: #E27448; /*lighter orange */
}

footer {
  padding-top: 20px;
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
}

.spacing {
  height:30px;
}

#main_container { 
  color: white; 
  background-color: #CC5120; /* orange */
}

#members_content_text {
  margin-top: 40px;
}

#calpreservation {
  margin-top: 20px;
}

#uluulu {
  margin-top: 50px;
}

#danceheritage {
  margin-top: 60px;
}

#xfr-stn {
  margin-top: 40px;
}

#boxes_content .thumbnail .caption {
  color: white;
} 

#members_content {
  font-size: 2.3em;
  text-align: center;
  height: 200px;
}

#top_bar {
  font-size: 3em;
  text-align: center;
}

#top_logo, #top_name {
  margin-top: 40px;
}

#blog, #video, #members_content {
  border: 1px solid #ddd;
  border-radius: 4px; 
}

#video {
  padding-top: 20px;
}

#inside-blog h2, #inside-blog h4 {
  color: white;
}

#inside-blog p {
  color: #005631; /* dark green */
}
