/* earth oranges color scheme */
/* orange: #E4762C, yellow: #ECAE34, light blue: #A4DAF4, red: #BC3A1C, dark blue: #0C224C */
body {
  background-color: #F29D27;/*yellow1*/ 
  padding-top: 50px; 
}

#boxes_content .thumbnail, #blog, #video, #members_content {
  background-color: #EFE4B0; /*yellow2*/
}
/*edit follows*/
#top_container_fluid {
  background-color: #DE2327; /*strong red not in scheme */
  color: white;
}

#non_profit_text, #members_content {
  color: #3333A2; /* lighter from dark blue */
  background-color: #DBDACA; /*grey*/
}

footer {
  padding-top: 20px;
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
}

.spacing {
  height:30px;
}

#main_container { 
  color: #3333A2; /* lighter from dark blue */
  background-color: #F29D27;/*yellow1*/ 
}

#members_content_text {
  margin-top: 40px;
  color: darkblue;
}
#calpreservation {
  margin-top: 20px;
}
#uluulu {
  margin-top: 50px;
}
#danceheritage {
  margin-top: 60px;
}
#xfr-stn {
  margin-top: 40px;
}

#boxes_content .thumbnail .caption {
  color: darkblue;
} 

#members_content {
  font-size: 2.3em;
  text-align: center;
  height: 200px;
}

#top_bar {
  font-size: 3em;
  text-align: center;
}

#top_logo, #top_name {
  margin-top: 40px;
}

#blog, #video, #members_content {
  border: 1px solid #ddd;
  border-radius: 4px; 
}

#video {
  padding-top: 20px;
}

#inside-blog h1, #inside-blog h4 {
  color: darkblue;
}

#inside-blog p {
  color: #3333A2; /* lighter from dark blue */
}
