/* green_orange theme go to palleton.com and use #A3421B as base color */
body {
  background-color: #A3421B; /* orange */
  padding-top: 50px; 
}


#boxes_content .thumbnail, #blog, #video, #members_content {
  background-color: #4F9118; /* green */
}
/*edit follows*/
#top_container_fluid {
  background-color: #C45F37; /* light orange */
  color: white;
}

#non_profit_text {
  color: #174569; /* dark blue */
  background-color: #C45F37; /* light orange */
}

footer {
  padding-top: 20px;
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
}

.spacing {
  height:30px;
}

#main_container { 
  background-color: #A3421B; /* orange */
  color: white; 
}

#members_content_text {
  margin-top: 40px;
}

#calpreservation {
  margin-top: 20px;
}

#uluulu {
  margin-top: 50px;
}

#danceheritage {
  margin-top: 60px;
}

#xfr-stn {
  margin-top: 40px;
}

#boxes_content .thumbnail .caption, #inside-blog h2, #inside-blog h4 {
  color: white; 
} 

#members_content {
  font-size: 2.3em;
  text-align: center;
  height: 200px;
}

#top_bar {
  font-size: 3em;
  text-align: center;
}

#top_logo, #top_name {
  margin-top: 40px;
}

#blog, #video, #members_content {
  border: 1px solid #ddd;
  border-radius: 4px; 
}

#video {
  padding-top: 20px;
}


#inside-blog p {
  color: #1C5683; /*blue*/
}
