body {
  background-color: #3B5998;
  color: white;
  padding-top: 70px; 
}

footer {
  color: white;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  color: white;
}

#boxes_content .thumbnail {
  background-color: #293E6A;
  min-height: 150px;
  height: 150px;  
}

#boxes_content .thumbnail .caption {
  color: white;
} 
#members_content {
  background-color: #293E6A;
  border: 1px solid #ddd;
  border-radius: 4px; 
  color: white;
  font-size: 3em;
}

#top_bar {
  background-color: ;
  font-size: 3em;
}

#top_logo {
  margin-top: 40px;
}
#blog {
  border: 15px solid #293E6A;
  border-radius: 4px; 
  background-color: white;
  color: black;
}


#video {
  background-color: #293E6A;
  border: 1px solid #ddd;
  border-radius: 4px; 
}

#video .iframe {
}
