body {
  background-color: brown;
  padding-top: 70px; 
}

footer {
  color: white;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  color: white;
}

.thumbnail {
  background-color: orange;
}

#members_content {
  background-color: orange;
  color: black;
  font-size: 3em;
}

#top_bar {
  font-size: 3em;
}

#boxes_content {
}
